*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  padding: 20px 10%;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid orange;
  margin-bottom: 30px;
}
header .logo{
  margin-right: auto;
  font-size: 2rem;
}
header a, li, button{
  color: black;
  background-color: none;
  text-decoration: none;
  border: none;
  list-style: none;
}
header li{
  display: inline-block;
  padding-right: 10px;
}
header li a:hover{
  color: orange;
}
header button{
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: rgb(20, 20, 20);
  color: orange;
  border-radius: 5px;
}
header button:hover{
  background-color: rgb(212, 142, 10);
  font-weight: bold;
}

/* first section */
.section1{
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 20px;
  padding:20px 5%;
  height: 80vh;
}
.section1 div{
  border: 1px solid orange ;
  border-radius: 8px;
  padding: 10px;
}
.section2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  padding:20px 5%;
  height: 80vh;
}
.section2 div{
  border: 1px solid orange ;
  border-radius: 8px;
  padding: 10px;
}
.section3{
  height: 80vh;
  border: 1px solid orange;
}