*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  padding: 20px 10%;
  justify-content: flex-start;
  align-items: center;
}
header .logo{
  order: 3;
  margin-left: auto;
}
header a, li, button{
  color: black;
  background-color: none;
  text-decoration: none;
  border: none;
  list-style: none;
}
header li{
  display: inline-block;
  padding-right: 10px;
}
header li a:hover{
  color: orange;
}
header button{
  padding: 10px;
  color: white;
  background-color: orange;
}
